<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <template id="navBar-footer">
        <div id="root">
            <header-component
                justify-content= "space-evenly"
            >
            </header-component>
            <div class="app"></div>
            <footer></footer>
        </div>
    </template>

    <template id="sidebar-footer">
        <div id="root">
            <div class="app">
                <nav></nav>
                <div class="container"></div>
            </div>
            <footer></footer>
        </div>
    </template>

    <template id="navbar-sidebar-footer">
        <div id="root">
            <nav></nav>
            <div class="container">
                <nav></nav>
                <div class="app"></div>
                <footer></footer>
            </div>
        </div>
    </template>
</body>
</html>